/* common*/


/* header */
.header-logo img{
    vertical-align: middle;
    height: 200px;
}

.header-text {
    vertical-align: middle;
}

/* main */
body {
    background-color: white;
}

.lists, .nt-list, .t-list, u.list {
list-style: none;
}

/* bottons */
.task {
    color: aliceblue;
    background-color: darkturquoise;
    padding: 20px;
    border-radius: 20%;
    font
}

.section {
    color: ;
}

.container {
width: 80;
max-width: 1100px;
margin: 0 auto;
}
